body {
   
    background-color: rgb(196, 228, 243);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 3px;
}

.profile-picture {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 150px;
    border-radius: 100%;


}

.profile-name {

    text-align: center;
    padding: 30px;
    font-size: 25px;

}

.links {

    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    border-width: 2px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 18px;
    padding: 20px;

}

a {

    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 1s;

}

a:hover {

    color: rgb(4, 0, 241);
    background-color: rgb(240, 237, 50);



}

.footer {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    margin-top: 80px;



}
